<h1>Sign Up</h1>

<%= form_with model: @user, local: true do |form| %>
  <div class="form-field">
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "username" %>
  </div>

  <div class="form-field">
    <%= form.label :email %>
    <%= form.email_field :email, placeholder: "odin@example.com" %>
  </div>

  <div class="form-field">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "•••••", minlength: 4, required: true %>
  </div>

  <div class="form-field">
    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.password_field :password_confirmation, placeholder: "•••••", minlength: 4, required: true %>
  </div>

  <%= form.submit "Create Account", class: "btn" %>
<% end %>

<p>Already have an account? <%= link_to "Log in", login_path %></p>